<!--heredamos la plantilla-->
{% extends "refugioApp/plantilla.html" %}

<!--cargamos elementos estaticos-->
{% load static %}

<!--BLOQUE TITULO-->
{% block title%} Tienda {%endblock%}


<!--BLOQUE CONTENIDO-->
{% block content %}
<section class='mb-5'>
<div class="container my-4">
<h1 class=' titulo-serv  text-center my-5'>Nuestra Tienda</h1>
</div> 
    <div class='container'>
        <!--situar el carro de la compra-->
        <div style='float:right;'>
            <p class='text-success'> Carro de la compra</p>
        </div>

        <div class ='row'>
        {% for categoriaPro in categoriasPro %}
            <div class='col-md-4 my-3'>
                <div class='card '>
                    <img src="{{ categoriaPro.imagen.url}}" class='card-img-top'  alt="{{ categoriaPro.nombre }}">
                    <div class="card-body text-center">
                        <a href="{% url 'TiendaPro' categoriaPro.id %}"><h5 class="btn link-tienda">{{ categoriaPro.nombre }}</h5></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>



{% endblock %}