<!--heredamos la plantilla-->
{% extends "refugioApp/plantilla.html" %}

<!--cargamos elementos estaticos-->
{% load static %}

<!--BLOQUE TITULO-->
{% block title%} Contacto {%endblock%}


<!--BLOQUE CONTENIDO-->
{% block content %}
<section>
    <div class='container my-5'>
    <h1 class='mb-4 form-titulo'>Formulario de Contacto</h1>
        <div class= 'container form-contactos my-2 py-3 '>
        {%if 'ok' in request.GET %}
            <p class='form-mensaje'>Informacion enviada correctamente, Gracias</p>
        {% endif %}
        {%if 'fail' in request.GET %}
            <p class='form-mensaje'>Error en el Envio</p>
        {% endif %} 
            <form action="" method='POST'>
                <!--token de seguridad-->
                {% csrf_token %}
                <table class='form-table'>{{form_Contacto.as_table}}</table>
                <input type="submit" value='Enviar' class='form-input form-control btn mt-2'>
            </form>
        </div>
    </div>
</section>
{% endblock %}